{% extends 'base.html' %}
{% block content %}
<style>
a {
  color: inherit;
  background:none;
  border:none;
}

a:link {
  outline: none; /* removes outline */
  text-decoration: none;
}
a:hover {color: black;}
#delete {
    color: red;
}
#add {
  background-color: white;
  border: none;
  color: grey; 
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
#add:hover {
    background-color: #f2f2f2; 
}
</style>

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}


{% if field %}
	<h1>Field Added!</h1>
	<br/><br/>
    <table class="table">
        <thead>
    <tr>

        <th scope="col">Field</th>
        <th scope="col">Form</th>
    </tr>
        </thead>
    <tbody class="table table-group-divider">
    {%for field in fields%}
    <tr>
    <td WIDTH=200>{{field.field}}</td>
    <td WIDTH=200>{{field.form}}</td>

</tr>       
    {%endfor%}
    </tbody>
    </table>
    <a href="{{url_for('add_field')}}" id="add" class="btn btn-primary"><i class="fa fa-plus-square"></i></a>

{%else%}

<br/>
<div class="shadow  p-3 mb-5 bg-body rounded">
<h4> Add Field </h4>
<br/>
<form method="POST" action="{{ url_for('add_field')}}">
    {{ form.hidden_tag()}}


    {{ form.field.label(
        class="form-label")}}
    {{ form.field(
        class="form-control")}}
    <br/>
    {{ form.form.label(
        class="form-label")}}
    {{ form.form(
        class="form-control")}}
    <br/>

    {{ form.submit(class ="btn btn-secondary") }}

</form> 
</div>

<br/><br/>

<h1> Fields </h1>
<table class="table">
    <thead>
<tr>
    <th scope="col">Field</th>
    <th scope="col">Form</th>

</tr>
    </thead>
<tbody class="table table-group-divider">
{%for field in fields%}
<tr>
<td WIDTH=200>{{field.field}}</td>
<td WIDTH=200>{{field.form}}</td>
</tr>
{%endfor%}
</tbody>
</table>
{% endif %}

{% endblock %}