{% extends 'base.html' %}
{% block content %}
<style>
a {
  color: inherit;
  background:none;
  border:none;
}

a:link {
  outline: none; /* removes outline */
  text-decoration: none;
}
a:hover {color: black;}
#delete {
    color: red;
}
#add {
  background-color: white;
  border: none;
  color: grey; 
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
#add:hover {
    background-color: #f2f2f2; 
}
</style>

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}




<br/>
<h1>{{field.field}}</h1>
<br/>
<div class="shadow  p-3 mb-5 bg-body rounded">
<h4>Add Student</h4>
<br/>
<form method="POST" action="{{ url_for('add_student_to_class', field_id = field.field_id)}}">
    {{ form.hidden_tag()}}


    {{ form.name.label(
        class="form-label")}}
    {{ form.name(
        class="form-control")}}
    <br/>
    {{ form.surname.label(
        class="form-label")}}
    {{ form.surname(
        class="form-control")}}
    <br/>
        {{ form.field_name.label(
            class="form-label")}}
        {{ form.field_name(
            class="form-control")}}
    <br/>
    {{ form.field_form.label(
        class="form-label")}}
    {{ form.field_form(
        class="form-control")}}
<br/>
    {{ form.personal_id_number.label(
        class="form-label")}}
    {{ form.personal_id_number(
        class="form-control")}}
        {% for err in form.personal_id_number.errors %}
        <p style="color: rgb(180, 6, 6); font-weight: bold; opacity: 0.8;">{{err}}</p>
        {% endfor %}

    <br/>
    {{ form.submit(class ="btn btn-secondary") }}

</form> 
</div>

<br/><br/>

<h1> Students </h1>
<table class="table">
    <thead>
<tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Personal ID Number</th>
    <th scope="col">Class</th>
</tr>
    </thead>
<tbody class="table table-group-divider">
{%for student in field.students%}
<tr>
<td WIDTH=200><a href="{{url_for('update', personal_id_number=student.personal_id_number)}}">{{student.name|capitalize}}</a></td> 
<td WIDTH=200>{{student.surname|capitalize}}</td> 
<td WIDTH=200>{{student.personal_id_number}}</td> 
<td WIDTH=200>{{field.field}}</td>
<td WIDTH=50 id="delete"><a href="{{url_for('delete', personal_id_number=student.personal_id_number)}}">X</a></td>
</tr>
{%endfor%}
</tbody>
</table>


{% endblock %}