{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}
<br/>
<center>
<h1>Admin Page</h1>
</center>
<br/>
<br/>
<div class="row"> 
<div class='col col-md-4'> <a class="btn btn-outline-dark btn-lg" href="{{url_for('fields')}}">Fields</a></div>
<div class='col col-md-4'> <a class="btn btn-outline-dark btn-lg" href="#">Students</a></div>
<div class='col col-md-4'> <a class="btn btn-outline-dark btn-lg" href="{{url_for('applications')}}">Applications</a></div>
</div>


<br/>
<br/>
<br/>


{% endblock %}