{% extends 'base.html' %}

{% block content %}
<style>
           body{
    background-color: #e5e5e5;    
   }
</style>
{%if already_sent%}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Application Sent!</h4>
    <p>Your application is now being reviewed. Whenever it's ready you will see the results in your <a href="{{url_for('dashboard')}}" class="alert-link">Dashboard</a>.
    </p>
    <hr>
    <p class="mb-0">Click <a href="{{url_for('application_details', application_id = application.application_id)}}" class="alert-link">here</a> to see the details of your application</p>
  </div>
<br/>
<br/>
<br/>

{%else%}
<a href="#" id="arrowback" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg></a>
<br/>
<br/>
<h1> Application Form </h1>

<br/>
<div class="shadow-sm p-3 mb-5 bg-body rounded">
    <h4>Personal Information</h4>
    <br/>
<form  method="POST" action="{{url_for('application')}}">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
        {{ form.first_name.label(
            class="form-label")}}
        {{ form.first_name(
            class="form-control", value=current_user.name)}}
    </div>  
    <div class="col">
        {{ form.second_name.label(
            class="form-label")}}
        {{ form.second_name(
            class="form-control")}}
    </div>  
    <div class="col">
        {{ form.last_name.label(
            class="form-label")}}
        {{ form.last_name(
            class="form-control", value=current_user.surname)}}
    </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">        
            {{ form.personal_id_number.label(
            class="form-label")}}
            {{ form.personal_id_number(
            class="form-control")}}{% for error in form.personal_id_number.errors %} <span style="color: red;">{{ error }}</span> {% endfor%}
        </div>
        <div class="col">        
            {{ form.birth_date.label(
            class="form-label")}}
            {{ form.birth_date(
            class="form-control")}}
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col">        
            {{ form.email.label(
                class="form-label")}}
            {{ form.email(
                class="form-control", value=current_user.email)}}
        </div>
        <div class="col">        
            {{ form.phone_number.label(
            class="form-label")}}
            {{ form.phone_number(
            class="form-control")}}
        </div>
    </div>
        <br/>
        <h4>Address</h4>
        <br/>
    {{ form.street_name.label(
        class="form-label")}}
    {{ form.street_name(
        class="form-control")}}
  <br/>
    {{ form.street_number.label(
        class="form-label")}}
    {{ form.street_number(
        class="form-control")}}
    <br/>
    <div class="row">
        <div class="col-md-6">        
            {{ form.city.label(
            class="form-label")}}
            {{ form.city(
            class="form-control")}}
        </div>
        <div class="col-md-2">        
            {{ form.zip_code.label(
            class="form-label")}}
            {{ form.zip_code(
            class="form-control")}}
        </div>

    </div>
    <br/>
    <h4>Other</h4>
    <br/>
    {{ form.form_of_study.label(
        class="form-label")}}
        {{ form.form_of_study(
        class="form-control")}}
        <br/>
        {{ form.field_of_study.label(
            class="form-label")}}
            {{ form.field_of_study(
            class="form-control")}}
    <br/>
    {{ form.submit(class ="btn btn-secondary") }}

</form> 
<script>
 var form_select = document.getElementById("form_of_study");
 var field_select = document.getElementById("field_of_study");

        form_select.onchange = function()  {
             
            form = form_select.value;
            
            fetch('/field/' + form).then(function(response) {

                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var field of data.fields) {
                        optionHTML += '<option value="' + field.field + '">' + field.name + '</option>';
                    }

                    field_select.innerHTML = optionHTML;
                })
                
            });
        }

</script>
</div>
{%endif%}

{% endblock %}