{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}
<a href="#" id="arrowback" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg></a>
<br/>
<br/>

<br/>

<h2>Application Details</h2>
	<br/>

	<div class="card">
  <div class="card-header">
    {{ application.first_name|capitalize }} {{ application.last_name|capitalize }}
  </div>
  <div class="card-body">
   
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">

    <strong>Frist Name:</strong>
	{{ application.first_name|capitalize }}<br/>

   <strong>Second Name:</strong>
	{{ application.second_name|capitalize }}<br/>

	<strong>Last Name:</strong>
	{{ application.last_name|capitalize }}<br/>

    <strong>Phone Number:</strong>
	{{ application.phone_number }}<br/>

	<strong>Email:</strong>
	{{ application.email }}<br/>

    <strong>City:</strong>
	{{ application.city|capitalize }}<br/>

    <strong>Adress:</strong>
	{{ application.address1|capitalize }} {{ application.address2}}<br/>

    <strong>Zip Code:</strong>
	{{ application.zip_code }}<br/>

    <strong>Form:</strong>
	{{ application.form_of_study|capitalize }}<br/>
    
    <strong>Field:</strong>
	{{ application.field_of_study|capitalize }}<br/>

    <strong>Date Sent:</strong>
	{{ application.date }}<br/>
    	
    </p>
{% endblock %}