{% extends 'base.html' %}

{% block content %}
<style>
    a {
      color: inherit;
      background:none;
      border:none;
    }
    
    a:link {
      outline: none; /* removes outline */
      text-decoration: none;
    }
    a:hover {color: black;}
    #delete {
        color: red;
    }
    #add {
      background-color: white;
      border: none;
      color: #111013; 
      font-size: 30px;
      cursor: pointer;
      transition: 0.3s;
    }

    #add:hover {
        background-color: #f2f2f2; 
    }

    #card {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
        width: 250px;
        height: 50px;
        margin-bottom: 30px;
        padding-left :20px;
    }

    #card:hover {
        box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
        cursor: pointer;
    }

    #card:ac {
        width:350px;
    }

    #class_container {
        padding: 12px;
    }
    h5{
        font-size:16px;
    }
</style>

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
<br/>
<br/>

<h1>{{field.field}}</h1>
<p style="font-size: 25px;">{{field.form}}</p>
	<br/>
    {%for student in field.students%}
    <a href="{{url_for('update', personal_id_number=student.personal_id_number)}}"> <div id="card">
        <div id = "class_container">
            <table>
            <tr>
                <td style="font-weight: bold;">{{student.name|capitalize}}</td>
                <td style="font-weight: bold;"> </td>
                <td style="font-weight: bold;">{{student.surname|capitalize}}</td>
            </tr>
             </table>
        </div>
        </div></a>
    {%endfor%}


 




{% endblock %}