<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">Schoolapi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if current_user.is_authenticated %}

          {% if current_user.role == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('fields')}}">Fields</a>
          </li>
          {% endif %}
          {%endif%}
          {% if current_user.role != 'admin' %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('application')}}">Apply</a>
          </li>
          {% endif %}
        </ul>
            {% if current_user.is_authenticated %}
            {% if current_user.role == 'admin' %}
            <!-- Admin Navbar -->
            <a href="{{url_for('admin')}}">
              <button class="btn btn-outline-secondary"  type="submit">Admin</button>
              </a>
              <li class="nav-item">
              </li>
              <a href="{{url_for('logout')}}">
                <button class="btn btn-outline-secondary"  type="submit">Logout</button>
                </a>

            {%else%}
                <!-- Logged User Navbar -->
              <a href="{{url_for('dashboard')}}">
                <button class="btn btn-outline-secondary"  type="submit">Profile</button>
                </a>
                <li class="nav-item">
                </li>
                <a href="{{url_for('logout')}}">
                  <button class="btn btn-outline-secondary"  type="submit">Logout</button>
                  </a>

              {%endif%}
            {% else %}
                  <!-- Navbar -->
              <a href="{{url_for('login')}}">
                <button class="btn btn-outline-secondary"  type="submit">Login</button>
                </a>
                <li class="nav-item">
                </li>
                <a href="{{url_for('register')}}">
                  <button class="btn btn-outline-secondary" type="submit">Register</button>
                  </a>  

              {%endif%}

      </div>
    </div>
  </nav>