{% extends 'base.html' %}
{% block content %}
<style>
    h1 {
        font-size: 50px;
    }
    a{
  color:#33c9f5;
  text-decoration: none;
}
p{
    font-size:18px;
}
#box{
    width:600px; 
    display: flex; 
    justify-content:center;
}
form{
    width:500px; 
    padding:20px 20px 5px 20px
}
@media only screen and (max-width: 550px) {
    #box{
        width:350px;
    }
    form{
        width:330px;
        
    }
   p{
    font-size:14px;
   }
   h1{
    font-size:30px;
   }
}
    
</style>
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{%endfor%}

<h1> Sign in </h1>
<hr/>
<br/>
<div style="display: flex; justify-content:center;">
<div id="box" class="shadow-lg p-3 mb-5 bg-body rounded">
<form  method="POST">
    {{ form.hidden_tag()}}
    {{ form.name.label(
        class="form-label")}}
    {{ form.name(
        class="form-control")}}
    <br/>
    {{ form.surname.label(
        class="form-label")}}
    {{ form.surname(
        class="form-control")}}
    <br/>
    {{ form.email.label(
        class="form-label")}}
    {{ form.email(
        class="form-control")}}
    <br/>
    {{ form.password.label(
        class="form-label")}}
    {{ form.password(
        class="form-control")}}
    <br/>
    {{ form.password_repeat.label(
        class="form-label")}}
    {{ form.password_repeat(
        class="form-control")}}
    <br/>
    <a href="{{url_for('login')}}"><p style="float:left; margin-top:5px">alredy have an account</p></a>
    <div style="display: flex; float:right;">
    {{ form.submit(class ="btn btn-outline-dark btn-md") }}
   </div>
</form> 
</div>
</div>
<br/>
 
{% endblock %}