{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}


{% if name %}
	<h1>Student Updated!</h1>
	<br/><br/>
    <table class="table table-hover table-striped">
        <thead>
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
         <th scope="col">Personal ID Number</th>
        <th scope="col">Field</th>
    </tr>
        </thead>
    <tbody class="table table-group-divider">
    {%for student in students%}
    <tr>
    <td WIDTH=200>{{student.name|capitalize}}</td> <td WIDTH=200>{{student.surname|capitalize}}</td> <td WIDTH=200>{{student.personal_id_number}}</td> <td WIDTH=200>{{student.field_id}}</td>
    </tr>
    {%endfor%}
    </tbody>
    </table>


{%else%}

<h1> Update Student </h1>
<br/>
<div class="shadow-sm p-3 mb-5 bg-body rounded">
<form action="/update/{{student_to_update.personal_id_number}}" method="POST">
    {{ form.hidden_tag()}}


    {{ form.name.label(
        class="form-label")}}
    {{ form.name(
        class="form-control", value=student_to_update.name)}}
    <br/>
    {{ form.surname.label(
        class="form-label")}}
    {{ form.surname(
        class="form-control", value=student_to_update.surname)}}
    <br/>
    {{ form.field_name.label(
        class="form-label")}}
    {{ form.field_name(
        class="form-control")}}
    <br/>
    {{ form.field_form.label(
        class="form-label")}}
    {{ form.field_form(
        class="form-control")}}
    <br/>
    {{ form.personal_id_number.label(
        class="form-label")}}
    {{ form.personal_id_number(
        class="form-control", value=student_to_update.personal_id_number)}}
    <br/>
    {{ form.submit(class ="btn btn-secondary") }}
    <a class="btn btn-danger" href="{{url_for('delete', personal_id_number=personal_id_number)}}">Delete</a>

</form> 
</div>

<br/><br/>


{% endif %}

{% endblock %}