{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
   .clickable-row{
    cursor: pointer;
   }     

   body{
    background-color: #e5e5e5;    
   }

   #reload,#arrowback{
    display:inline-block;
}
#reload{
    float: right;
    margin-right: 10px;
    transition: 0.3s;
}
#reload:hover{
    transform: rotate(20deg);
}
</style>
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
<div id="icons">
    <a href="{{url_for('admin')}}" id="arrowback"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg></a>
    <a href="#" id="reload" onclick="history.go(0)"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21.5 2v6h-6M21.34 15.57a10 10 0 1 1-.57-8.38"/></svg></a>
    </div><br/>
<br/>

<br/>
<div class="shadow-sm p-2 mb-3 bg-body rounded">
    <h1>Users</h1>
    <hr>
    
    
    <input class="form-control"  style="width: 300px; display: inline;" id="myInput" type="text" placeholder="Search...">
    <svg xmlns="http://www.w3.org/2000/svg"  style="cursor:pointer; margin-left: 5px; display: inline;"width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#33c9f5" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
    

<table class="table table-hover">
    <thead>
<tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>

</tr>
    </thead>
<tbody id="myTable" class="tabl table-group-divider">
    {%for user in users%}
<tr class="clickable-row" onclick="window.location=&quot;{{url_for('user', user_id = user.user_id)}}&quot;">
<td WIDTH=200>{{user.name|capitalize}}</td>
<td WIDTH=200>{{user.surname|capitalize}}</td>
<td WIDTH=200>{{user.email}}</td>
<td WIDTH=200>{{user.role|capitalize}}</td>
<td WIDTH=50><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#33c9f5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3"/></svg>
</td>
</tr>
{%endfor%}
</tbody>
</table>
</div>
  

  <script>
    $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
{% endblock %}  